{% extends 'base.html.twig' %}

{% block title %}My License Plate - Who Blocked Me?{% endblock %}

{% block body %}
    <div class="d-flex align-items-center justify-content-center" style="padding: 10px;">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Registered License Plate</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>License plate</th>
                            <th>Status</th>
                            <th style="width: 40px">Options</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for license_plate in license_plates %}
                        <tr>
                            <td>{{ loop.index}}</td>
                            <td>{{ license_plate.licensePlate }}</td>
                            <td>
                                <!--TODO: add status-->
                                Activity
                            </td>
                            <td>
                                <a class="badge bg-warning" href="{{ path('license-plate/edit', {'id': license_plate.id}) }}">edit</a>
                                <!--<a class="badge bg-danger" href="{{ path('license-plate/delete', {'id': license_plate.id}) }}">delete</a>-->
                                <a class="badge bg-danger" >{{ include('license_plate/_delete_form.html.twig', {'button_label': 'delete'}) }}</a>
                            </td>
                        </tr>
                        {% else %}
                            <tr>
                            <td colspan="4" style="text-align: center;" >You don't have any cars added yet.</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
                <div class="card-footer clearfix">
                    <a href="{{ path('license-plate/new') }}">Add a new license plate</a>
                </div>
            </div>
            <a href="{{ path('home') }}">Return to home</a>
        </div>
    </div>
{% endblock %}
