{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% extends 'base.html.twig' %}

{% block title %}Change Password{% endblock %}

{% block body %}
    <div class="d-flex align-items-center justify-content-center" style="padding: 10px;">
        <div class="col-md-6">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Change password</h3>
                </div>

                {{ form_start(form) }}
                <div class="card-body">
                    {{ form_widget(form) }}
                </div>

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">{{ button_label|default('Change password') }}</button>
                </div>
                {{ form_end(form) }}

            </div>
            <a href="{{ path('home') }}">Cancel request</a>
        </div>
    </div>
{% endblock %}